<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./js/main.js"></script>
</head>

<body>
    <div class="header_outer">
        <header>
            <a href="#" class="logo">MOAMOA</a>
            <div class="search_box">
                <input type="search" name="search" id="search">
                <div class="search_btn">검색</div>
            </div>
            <div class="login_btn">
                <a href="http://localhost:8080/oauth2/login/kakao">
                <img src="./img/btn_login_kakao.jpg" alt="kakao_btn">

                </a>
            </div>
            <!-- <div class="login-form">
            <form id="loginForm" method="post">
                <input type="text" id="username" name="username" placeholder="사용자 이름"><br>
                <input type="password" id="password" name="password" placeholder="비밀번호"><br>
                <input type="submit" value="로그인">
            </form>
        </div> -->
        </header>
    </div>
    
    <div class="container">
        <h1>상품 목록</h1>
        <div class="float_box">
            <div class="product" id="product1">
                <div class="product-image" id="productImage_1">
                    <!-- 여기에 상품 1 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=1"><img src="https://via.placeholder.com/150"
                            alt="Product 1 Image"></a>
                </div>
                <div class="product-info" id="productInfo_1">
                    <!-- 여기에 상품 1 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product2">
                <div class="product-image" id="productImage_2">
                    <!-- 여기에 상품 2 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=2"><img src="https://via.placeholder.com/150"
                            alt="Product 2 Image"></a>
                </div>
                <div class="product-info" id="productInfo_2">
                    <!-- 여기에 상품 2 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product3">
                <div class="product-image" id="productImage_3">
                    <!-- 여기에 상품 3 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=3"><img src="https://via.placeholder.com/150"
                            alt="Product 3 Image"></a>
                </div>
                <div class="product-info" id="productInfo_3">
                    <!-- 여기에 상품 3 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product4">
                <div class="product-image" id="productImage_4">

                    <a href="product-detail?productId=4"><img src="https://via.placeholder.com/150"
                            alt="Product 4 Image"></a>
                </div>
                <div class="product-info" id="productInfo_4">

                </div>
            </div>
            <div class="product" id="product5">
                <div class="product-image" id="productImage_5">
                    <!-- 여기에 상품 1 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=5"><img src="https://via.placeholder.com/150"
                            alt="Product 5 Image"></a>
                </div>
                <div class="product-info" id="productInfo_5">
                    <!-- 여기에 상품 1 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product6">
                <div class="product-image" id="productImage_6">
                    <!-- 여기에 상품 2 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=6"><img src="https://via.placeholder.com/150"
                            alt="Product 6 Image"></a>
                </div>
                <div class="product-info" id="productInfo_6">
                    <!-- 여기에 상품 2 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product7">
                <div class="product-image" id="productImage_7">
                    <!-- 여기에 상품 3 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=7"><img src="https://via.placeholder.com/150"
                            alt="Product 7 Image"></a>
                </div>
                <div class="product-info" id="productInfo_7">
                    <!-- 여기에 상품 3 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product8">
                <div class="product-image" id="productImage_8">

                    <a href="product-detail?productId=8"><img src="https://via.placeholder.com/150"
                            alt="Product 8 Image"></a>
                </div>
                <div class="product-info" id="productInfo_8">

                </div>
            </div>
            <div class="product" id="product9">
                <div class="product-image" id="productImage_9">
                    <!-- 여기에 상품 1 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=9"><img src="https://via.placeholder.com/150"
                            alt="Product 9 Image"></a>
                </div>
                <div class="product-info" id="productInfo_9">
                    <!-- 여기에 상품 1 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product10">
                <div class="product-image" id="productImage_10">
                    <!-- 여기에 상품 2 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=10"><img src="https://via.placeholder.com/150"
                            alt="Product 10 Image"></a>
                </div>
                <div class="product-info" id="productInfo_10">
                    <!-- 여기에 상품 2 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product11">
                <div class="product-image" id="productImage_11">
                    <!-- 여기에 상품 3 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=11"><img src="https://via.placeholder.com/150"
                            alt="Product 11 Image"></a>
                </div>
                <div class="product-info" id="productInfo_11">
                    <!-- 여기에 상품 3 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product12">
                <div class="product-image" id="productImage_12">

                    <a href="product-detail?productId=12"><img src="https://via.placeholder.com/150"
                            alt="Product 12 Image"></a>
                </div>
                <div class="product-info" id="productInfo_12">

                </div>
            </div>
            <div class="product" id="product13">
                <div class="product-image" id="productImage_13">
                    <!-- 여기에 상품 1 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=13"><img src="https://via.placeholder.com/150"
                            alt="Product 13 Image"></a>
                </div>
                <div class="product-info" id="productInfo_13">
                    <!-- 여기에 상품 1 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product14">
                <div class="product-image" id="productImage_14">
                    <!-- 여기에 상품 2 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=14"><img src="https://via.placeholder.com/150"
                            alt="Product 14 Image"></a>
                </div>
                <div class="product-info" id="productInfo_14">
                    <!-- 여기에 상품 2 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product15">
                <div class="product-image" id="productImage_15">
                    <!-- 여기에 상품 3 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=15"><img src="https://via.placeholder.com/150"
                            alt="Product 15 Image"></a>
                </div>
                <div class="product-info" id="productInfo_15">
                    <!-- 여기에 상품 3 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product16">
                <div class="product-image" id="productImage_16">

                    <a href="product-detail?productId=16"><img src="https://via.placeholder.com/150"
                            alt="Product 16 Image"></a>
                </div>
                <div class="product-info" id="productInfo_16">

                </div>
            </div>
            <div class="product" id="product17">
                <div class="product-image" id="productImage_17">
                    <!-- 여기에 상품 1 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=17"><img src="https://via.placeholder.com/150"
                            alt="Product 17 Image"></a>
                </div>
                <div class="product-info" id="productInfo_17">
                    <!-- 여기에 상품 1 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product18">
                <div class="product-image" id="productImage_18">
                    <!-- 여기에 상품 2 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=18"><img src="https://via.placeholder.com/150"
                            alt="Product 18 Image"></a>
                </div>
                <div class="product-info" id="productInfo_18">
                    <!-- 여기에 상품 2 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product19">
                <div class="product-image" id="productImage_19">
                    <!-- 여기에 상품 3 이미지가 표시됩니다 -->
                    <a href="product-detail?productId=19"><img src="https://via.placeholder.com/150"
                            alt="Product 19 Image"></a>
                </div>
                <div class="product-info" id="productInfo_19">
                    <!-- 여기에 상품 3 정보가 표시됩니다 -->
                </div>
            </div>
            <div class="product" id="product20">
                <div class="product-image" id="productImage_20">

                    <a href="product-detail?productId=20"><img src="https://via.placeholder.com/150"
                            alt="Product 20 Image"></a>
                </div>
                <div class="product-info" id="productInfo_20">

                </div>
            </div>
        </div>


    </div>
</body>

</html>