<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주문 정보 입력</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src ="./js/order.js"></script>
</head>
<body>
<h1>주문 정보 입력</h1>
<form id="orderForm" method="post">
    <input type="hidden" id="productId" name="productId">
    <label for="userId">사용자 ID:</label>
    <input type="text" id="userId" name="userId"><br><br>

    <label for="quantity">수량:</label>
    <input type="text" id="quantity" name="quantity"><br><br>

    <label for="address">주소:</label>
    <input type="text" id="address" name="address"><br><br>

    <label for="phoneNumber">폰번호:</label>
    <input type="text" id="phoneNumber" name="phoneNumber"><br><br>

    <input type="submit" value="주문 생성">
</form>

</body>
</html>
