*{
    margin: 0;
    padding: 0;

}
li {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: #000;
}
img {
    display: block;
    width: 100%;
    object-fit: cover;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.product-detail {
    display: inline-block;
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-detail:last-child {
    margin-right: 0;
}

.product-image {
    text-align: center;
    margin-bottom: 10px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}

.product-info {
    padding: 20px;
    border-top: 1px solid #ccc;
}

.product-info p {
    font-size: 16px;
    margin: 0;
    padding: 5px 0;
}

.order-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

.order-button:hover {
    background-color: #0056b3;
}

.reviews {
    margin-top: 20px;
}

.review {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

.review:first-child {
    border-top: none;
    margin-top: 0;
}

#reviewForm {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#reviewForm textarea {
    width: calc(100% - 40px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
}

#reviewForm button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#reviewForm button:hover {
    background-color: #0056b3;
}

